:ruby
  options = {
    copy: local_assigns.fetch(:copy, 'Join the Beta'),
    href: 'https://docs.google.com/forms/d/e/1FAIpQLSdG-zurMH99a2ZPc3n1JEpqTWb-7mOIOmVGWgI7AVx_aQ5Huw/viewform'
  }

= button(**options)
