:ruby
  button_class = (ab_test('join_button_color') == 'blue') ?
    'btn-outline-primary' :
    'btn-outline-success'

  options = {
    class: button_class,
    href: '/join_beta',
  }

= button(**options) { 'Join the Beta' }
