.text-center
  %section.hero
    %div.banner.display-4.py-4
      LifeWild
    %div.hero-img

  %section.hook.py-3
    %h5.text-muted Don’t just seek nature — actually find it.
    %h2 The real-time wildlife tracking app
    = button(type: :join)

  %section.info.text-muted.py-5
    %p This mobile application is currently in Beta. However, just by being here you are supporting its development by showing your interest!
    %p If you would like more info about LifeWild, would like to stay informed on the progress of the app, or even pitch feature requests, join the beta today!
    = button(type: :join)

  %footer.pb-3
    Copyright © 2019 LifeWild - All Rights Reserved.
